<style>
    footer{
    margin-top:0px;
    }


</style>

<footer>
<div class=" container-fluid p-5 bg-dark text-white">
    <div class="row justify content-center">
      <div class="first col-md-3">
          <ul class="list-unstyled">
              <li style="font-size: 24px">about us</li>
              <li>Our Team</li>
              <li>Head of Department</li>
              <li>Cheif Editor</li>
              <li>Journalist</li>
          </ul>
      </div>
    <div class="third col-md-5">
      <ul class="list-unstyled">
          <li style="font-size: 24px">Contact Us</li>
          <li>Newroad 04, Kathmandu, Nepal</li>
          <li>+977-9845328921</li>
          <li>01-4445624</li>
      </ul>
  </div>

    <div class="third col-md-4">
      <ul class="list-unstyled">
          <li style="font-size: 24px">Find us on:</li>
          <li> <i class="fab fa-facebook fa-2x"></i><a href="www.facebook.com">Facebook</a></li>
          <li> <i class="fab fa-instagram-square fa-2x"></i><a href="https//www.instagram.com/">Instagram</a></li>
          <li> <i class="fab fa-twitter fa-2x"></i><a href="https//www.twitter.com/">Twitter</a></li>
          <li> <i class="fab fa-youtube fa-2x"></i><a href="https//www.youtube.com/">Youtube</a></li>
      </ul>

        <p>© 2002 TDN. All Rights Reserved | Design by
            <a href="https://tdn.com/"> TheDailyNews</a> </p>

  </div>
    </div>

</div>
</footer>