
<!--<div class=" container-fluid  bg-dark text-white">-->

<!--    <div class="row justify content-center">-->
<!--      <div class="first col-md-5">-->
<!--          <ul class="list-unstyled">-->
<!--              <li>about us</li>-->
<!--              <li>Contact us</li>-->
<!--          </ul>-->
<!--      </div>-->
<!--        <div class="third col-md-5">-->
<!--          <ul class="list-unstyled">-->
<!--          <li style="font-size: 24px">Find us on:</li>-->
<!--          <li> <i class="fab fa-facebook fa-2x"></i><a href="www.facebook.com">Facebook</a></li>-->
<!--          <li> <i class="fab fa-instagram-square fa-2x"></i><a href="https//www.instagram.com/">Instagram</a></li>-->
<!--          <li> <i class="fab fa-twitter fa-2x"></i><a href="https//www.twitter.com/">Twitter</a></li>-->
<!--          <li> <i class="fab fa-youtube fa-2x"></i><a href="https//www.youtube.com/">Youtube</a></li>-->
<!--      </ul>-->

<!--      </div>-->
<!--    </div>-->

<!--</div>-->
